<?xml version="1.0" encoding="utf-8"?>
<package>

    <!-- Basic Package Info -->
    <info>
        <name>Dev Super Package</name>
        <label>Aras Developer Super Package</label>
        <version>11.0.SP12</version>
        <version_label>11.0SP12.1.0</version_label>
        <type>aia</type>
        <owner>Aras Labs</owner>
        <description>Applies imports and code tree files of all projects in this package</description>
        <copyright>&#169;2018 Aras Labs</copyright>
        <tool_minimal_version_required>1.3</tool_minimal_version_required>
    </info>

    <!-- Installation Process -->
    <installation>

        <!-- Custom Search Mode -->
        <module id="csm" label="Custom Search Mode"
            description="Contains a search mode that lets you lookup items by the package they belong to"
            required_properties="Innovator.Dir|Innovator.DB|Innovator.URL|Innovator.Username|Innovator.Password">

            <echo message="--- Module Custom Search Mode Started ---"/>

            <property name="Inn.Dir" value="${Innovator.Dir}\Innovator"/>
            <echo message="[prop] Inn.Dir = ${Inn.Dir}" />

            <!-- Copy the files to the code tree -->
            <copy todir="${Inn.Dir}\" failonerror="true">
                <fileset basedir="${Package.Dir}\custom-search-mode\Innovator">
                    <include name="**"/>
                </fileset>
            </copy>

            <!-- Import the packages into the database -->
            <import dir="${Package.Dir}\custom-search-mode\Imports" failonerror="true" />
        </module>

        <!-- Find Active Debuggers -->
        <module id="fad" label="Find Active Debuggers"
            description="Adds an action to find all Methods that have an uncommented out debugger statement"
            required_properties="Innovator.DB|Innovator.URL|Innovator.Username|Innovator.Password">

            <echo message="--- Module Find Active Debuggers Started ---"/>

            <!-- This package does not have any code tree files to add -->

            <!-- Import the packages into the database -->
            <import dir="${Package.Dir}\find-active-debuggers\Import" failonerror="true" />
        </module>

        <!-- Find Parent Package -->
        <module id="fpp" label="Find Parent Package"
            description="Adds an action to return what package an item belongs to"
            required_properties="Innovator.DB|Innovator.URL|Innovator.Username|Innovator.Password">

            <echo message="--- Module Find Parent Package Started ---"/>

            <!-- This package does not have any code tree files to add -->

            <!-- Import the packages into the database -->
            <import dir="${Package.Dir}\find-parent-package\Import" failonerror="true" />
        </module>

        <!-- Method Editor Theme Preference -->
        <module id="metp" label="Method Editor Theme Preference"
            description="Adds a User Preference to allow you to change what theme the Method Editor uses"
            required_properties="Innovator.Dir|Innovator.DB|Innovator.URL|Innovator.Username|Innovator.Password">

            <echo message="--- Module Method Editor Theme Preference Started ---"/>

            <property name="Inn.Dir" value="${Innovator.Dir}\Innovator"/>
            <echo message="[prop] Inn.Dir = ${Inn.Dir}" />

            <!-- Copy the files to the code tree -->
            <copy todir="${Inn.Dir}\" failonerror="true">
                <fileset basedir="${Package.Dir}\method-editor-theme-preference\Innovator">
                    <include name="**"/>
                </fileset>
            </copy>

            <!-- Import the packages into the database -->
            <import dir="${Package.Dir}\method-editor-theme-preference\Imports" failonerror="true" />
        </module>

        <!-- Run Client Method -->
        <module id="rcm" label="Run Client Method"
            description="Adds an action to return what package an item belongs to"
            required_properties="Innovator.DB|Innovator.URL|Innovator.Username|Innovator.Password">

            <echo message="--- Module Run Client Method Started ---"/>

            <!-- This package does not have any code tree files to add -->

            <!-- Import the packages into the database -->
            <import dir="${Package.Dir}\run-client-method\Import" failonerror="true" />
        </module>

        <!-- Tree Grid View Sample -->
        <module id="tgvs" label="Tree Grid View Sample"
            description="Adds an action to return what package an item belongs to"
            required_properties="Innovator.DB|Innovator.URL|Innovator.Username|Innovator.Password">

            <echo message="--- Module Tree Grid View Sample Started ---"/>

            <!-- This package does not have any code tree files to add -->

            <!-- Import the packages into the database -->
            <import dir="${Package.Dir}\tree-grid-view-sample\Imports" failonerror="true" />
        </module>

    </installation>
</package>